<div class="clearfix" id="hero-unit" class="layout-container">
	<div class="hero-unit-container layout-container-inner">
		<h2>{{ rec_block('Hero Title') }}</h2>
		<h3 class="h2">{{ rec_block('Hero Subtitle') }}</h3>
		<p class="hero-unit-text">{{ rec_block('Hero Text') }}</p>
		<p class="hero-unit-phone">Call <a href="tel:{{ company.phone_number}}">{{ company.phone_number}}</a></p>
	</div>

	<div class="hero-form-wrapper layout-container-inner">
		<div class="hero-form-container">
			<h2 class="center">{{ rec_block('Hero Form Title') }}</h2>

			<p class="center">{{ rec_block('Hero Form Text') }}</p>

			{{ rec_form('Page Contact Form') }}
		</div>
	</div>

	<div class="hero-unit-subline" class="layout-container-inner">
		{{ rec_block('Hero Subline') }}
	</div>
</div>